<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Enter Limit</h4>
            <input class="form-control" type="number" [value]="inp" (blur)="setValue($event)" />
 
            <div class="col-md-4" *ngIf="returnResult">
                <app-success></app-success>
            </div>
        </div>

        <div class="col-md-4">
            <app-home [limit]="inp" 
            (returnLuckyResultToParent)="getOutputResult($event)"
            (isReset)="resetValue($event)"></app-home>
        </div>
    </div>
</div>
<router-outlet></router-outlet>